<footer class="card bg-dark text-light text-center fs-6 mt-3">
    <a href="" class="link-success">Check my portfolio</a>
    <div class="card-footer">All Rights Reserved by Gabriel Rengifo©
    </div>
</footer>