<footer class="card bg-dark text-light text-center fs-6">
    <a href="" class="link-success">Take a look @ my stuff</a>
    <div class="card-footer">All Rights Reserved by Gabriel Rengifo©
    </div>
</footer>