<div class="container-lg">
    <h1 class="text-center">Bienvenido/a</h1>
    <p class="lead">Esta es mi página web para publicar información sobre clases, evaluaciones, mis redes sociales como profesor y material anexo.</p>
    <p>El contenido encontrado aquí, incluyendo la página en sí, son creados por mí y dirigido a mis estudiantes. No está patrocinado por ninguna entidad pública o privada, esto es un proyecto personal.</p>
    <div class="container-lg banner-img d-flex justify-content-center align-items-center rounded">
    <div class="container-lg rounded-5 rounded-bottom-0">    
        <h1 class="display-3">Cronograma</h1>
    </div>
    <!-- <img src="images/banner-img.jpg" class="mx-auto img-fluid" alt="Photo by Jess Bailey Designs: https://www.pexels.com/photo/brown-paper-clips-1097930/"> -->
    </div>
</div>

<div class="container-md my-5 overflow-x-scroll">
    <table class="table table-primary table-bordered border-dark">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Actividad</th>
                <th>Modalidad</th>
                <th>Comentarios</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3/07/23</td>
                <td>2:00pm</td>
                <td>Práctica Evaluada: Carbohidratos</td>
                <td>Presencial, Salón 116</td>
                <td>1 Hora de clase antes del Quiz @ 3:00pm</td>
            </tr>
            <tr>
                <td>3/07/23</td>
                <td>2:00pm</td>
                <td>Práctica Evaluada: Carbohidratos</td>
                <td>Presencial, Salón 116</td>
                <td>1 Hora de clase antes del Quiz @ 3:00pm</td>
            </tr>
            <tr>
                <td>3/07/23</td>
                <td>2:00pm</td>
                <td>Práctica Evaluada: Carbohidratos</td>
                <td>Presencial, Salón 116</td>
                <td>1 Hora de clase antes del Quiz @ 3:00pm</td>
            </tr>
            <tr>
                <td>3/07/23</td>
                <td>2:00pm</td>
                <td>Práctica Evaluada: Carbohidratos</td>
                <td>Presencial, Salón 116</td>
                <td>1 Hora de clase antes del Quiz @ 3:00pm</td>
            </tr>
        </tbody>
    </table>
</div>