<nav class="row justify-content-center">
    <ul class="container row justify-content-center m-0 text-center text-white gap-1">
        <li class="col-sm-2 col-md-1 bg-primary"><a href="/">Inicio</a></li>
        <li class="col bg-primary"><a href="/classes" >Clases</a></li>
        <li class="col bg-primary"><a href="/mats" >Material</a></li>
        <li class="col bg-primary"><a href="/about" >Información</a></li>
    </ul>    
</nav>