<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <%- include('partials/bootstrap.ejs') %>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--DO NOT MODIFY ORIGINAL FILE-->
        <%- include('partials/navbar.ejs') %>
    <main class="container p-1 my-1 justify-content-center bg-dark mx-auto">
        <h1 class="text-center text-info display-1">Material de Estudio</h1>
        <h2 class="text-center">Click abajo <i class="bi bi-cursor-fill btn btn-info"></i> para descargar el material</h2>
        <div class="container row">
            <div class="list-group container col-5 text-center">
                <h3>Material de Estudio</h3>
                <a href="./downloads/04_lipidos_problemas.docx" class="list-group-item list-group-item-action bg-primary text-light" download="Práctica - Estructura de Lípidos">Presentación de Lípidos</a>
                <a href="./downloads/04_lipidos_problemas.docx" class="list-group-item list-group-item-action bg-primary text-light" download="Práctica - Estructura de Lípidos">Presentación de Lípidos</a>
                <a href="./downloads/04_lipidos_problemas.docx" class="list-group-item list-group-item-action bg-primary text-light" download="Práctica - Estructura de Lípidos">Presentación de Lípidos</a>
            </div>
            <div class="list-group container col-5 text-center">
                <h3>Reporte de Notas</h3>
                <a href="./downloads/EPC_01_NOTAS.docx" class="list-group-item list-group-item-action bg-primary text-light" download="Notas EPC1">Notas del EPC1</a>
                <a href="./downloads/04_lipidos_problemas.docx" class="list-group-item list-group-item-action bg-primary text-light" download="Práctica - Estructura de Lípidos">Presentación de Lípidos</a>
                <a href="./downloads/04_lipidos_problemas.docx" class="list-group-item list-group-item-action bg-primary text-light" download="Práctica - Estructura de Lípidos">Presentación de Lípidos</a>
            </div>
        </div>
    </main>
    <%-  include("partials/footer.ejs")   %>
</body>
</html>