<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <%- include('partials/bootstrap.ejs') %>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--DO NOT MODIFY ORIGINAL FILE-->
        <%- include('partials/navbar.ejs') %>
    <main class="container-lg p-1 my-1 row justify-content-center bg-dark mx-auto">
        <div class="col-9 p-2 my-3 border border-light rounded ">
            <h1 class="text-center text-info display-6">Nuestro Material de Estudio</h1>
            <div class="container-sm">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam expedita accusantium itaque ea nemo, molestias nam nesciunt deserunt quisquam maiores doloremque commodi labore laborum laudantium inventore. Animi similique qui aperiam.
                Ex tempora facere blanditiis eum sapiente quis. Possimus itaque tempora velit dolorum ab adipisci in, pariatur quis libero voluptates explicabo exercitationem maxime aperiam ipsa sequi ipsam facere ad dolores illum.
                Esse, facere quasi est similique in, corrupti cupiditate vitae quaerat voluptatum adipisci nesciunt sed. Illum optio, cumque, animi quaerat aliquid ducimus perferendis error rem doloremque sed officia labore debitis facilis.</p>
            </div>
        </div>
        
        <div class="list-group col-6 p-3">
            <a href="" class="list-group-item list-group-item-action bg-primary text-light">Link 1</a><a href="" class="list-group-item list-group-item-action bg-primary text-light">Link 2</a><a href="" class="list-group-item list-group-item-action bg-primary text-light">Link 3</a><a href="" class="list-group-item list-group-item-action bg-primary text-light">Link 4</a><a href="" class="list-group-item list-group-item-action bg-primary text-light">Link 5</a><a href="" class="list-group-item list-group-item-action bg-primary text-light">Link 6</a>
        </div>
    </main>
    <%-  include("partials/footer.ejs")   %>
</body>
</html>